@import '../../Assets/scss/index';

.navbar {
    margin-top: 10px;
    .links {
        list-style-type: none;

        .link {
            // margin-right: 7px;
            margin: auto 5px;
            cursor: pointer;
        }
    }
}